.email-side-nav-container {
  margin-top: 20px;
}

.folder-name-container {
  display: flex;
  align-items: center;
}

.folder-icon {
  padding-block-start: 7px;
  color: rgba(161, 158, 158, 0.746);
}

.folder-name {
  margin-inline-start: 10px;
}

.email-side-nav-container .nav-link {
  cursor: pointer;
  margin-block-end: 10px;
  font-size: 18px;
  padding-inline-start: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.email-side-nav-container .nav-link:hover {
  background-color: rgb(224, 219, 219);
}

.email-side-nav-container .nav-link:focus {
  background-color: rgb(250, 115, 115);
  color: white;
}

@media (max-width: 750px) {
  .folder-name-container {
    margin-inline-start: 20px;
  }
}
