.email-filter-section {
  width: 100%;
}

.email-filter-section input {
  width: 100%;
  padding: 15px;
  border: 0.5px solid rgb(199, 196, 196);
  border-radius: 10px 0 0 10px;
  box-shadow: 4px 0 3px rgba(117, 117, 117, 0.45);
}

.email-filter-section select {
  min-width: 20%;
  padding: 10px;
  text-align: center;
  color: grey;
  border: 0.5px solid rgb(199, 196, 196);
  border-left: none;
  border-radius: 0 10px 10px 0;
  box-shadow: 4px 0 3px rgba(117, 117, 117, 0.45);
}

