.email-compose-container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400px;
  margin: 10px;
  border: 1px solid rgb(231, 231, 231);
  background: white;
  border-radius: 10px;
}

.compose-header {
  padding: 10px;
  background-color: rgb(41, 41, 41);
  color: rgb(235, 233, 233);
  border-radius: 10px 10px 0 0;
}

.compose-header .x-btn {
  background: none;
  color: rgb(235, 233, 233);
  border: none;
  cursor: pointer;
  margin-inline-end: 10px;
}

.input-area-container {
  border-bottom: 1px solid rgb(231, 231, 231);
}

.input-area-container input {
  width: 95%;
  padding: 10px;
  border: none;
  background: none;
  outline: none;
}

.input-area-container input:first-of-type {
  width: 80%;
}

.input-area-container .cc-btn,
.input-area-container .bcc-btn {
  margin-inline-end: 10px;
  font-size: 0.9rem;
}

.textarea {
  min-height: 320px;
  padding: 10px;
  outline: none;
}

.form-btns-container {
  justify-self: flex-end;
  margin: 0;
}

form button {
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 150px;
}

.save-btn {
  margin-inline-start: 20px;
  background-color: #FCBC02;
}

.cancel-btn {
  margin-inline-end: 40px;
  width: 1.3rem;
  background: none;
}

.trash-icon {
  font-size: 1.3rem;
  color: rgb(134, 134, 134);
}

@media (max-width: 750px) {
  .email-compose-container {
    width: 340px;
  }
}