.email-preview-container {
  width: 100%;
  min-height: 3rem;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

.email-preview-container .name-circle {
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(117, 221, 190);
  border: 1px solid grey;
  font-weight: 700;
  font-size: 1.3rem;
}

.email-preview-container .email-preview-details {
  max-width: 85%;
  margin-left: 1rem;
}

.email-preview-container h4 {
  margin: 0;
}

.email-preview-container p {
  margin: 0;
}

.email-preview-container .email-time {
  align-self: flex-start;
}

.email-preview-container .star-img {
  width: 1rem;
  margin-bottom: 1rem;
}

.time-container {
  min-width: 80px;
}

.bold {
  font-weight: bold;
  font-family: roboto-bold;
}

.showBcg {
  background: rgba(202, 202, 202, 0.493);
}

@media (max-width: 750px) {
  .email-preview-container .name-circle {
    min-width: 40px;
    height: 40px;
    font-size: 1rem;
  }
  .email-preview-container {
    font-size: 0.8rem;
  }

  .time-container {
    min-width: 50px;
  }

}
