.email-list-container {
  align-items: flex-end;
  margin: 20px 0 20px auto;
  width: 80%;
  padding: 0;
}

.email-list {
  width: 100%;
  padding-inline-start: 0;
}

.mobile-menu-section {
  display: none;
}

@media (max-width: 1200px) {
  .email-list-container {
    width: 70%;
  }
}

@media (max-width: 960px) {
  .email-list-container {
    width: 65%;
  }
}

@media (max-width: 750px) {
  .email-list-container {
    margin: auto;
    width: 90%;
    min-height: 80vh;
  }

  .email-filter-cmp {
    display: none;
  }

  .email-filter-cmp-mobile {
    width: 80%;
  }

  .mobile-menu-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-hamburger-icon {
    color: rgb(177, 177, 177);
    font-size: 1.5rem;
  }
}
