.email-compose-container {
  width: 100%;
  margin: 10px;
  border: 1px solid rgb(231, 231, 231);
}

.compose-header {
  background-color: rgb(41, 41, 41);
  color: rgb(235, 233, 233);
}

.compose-header .x-btn {
  background: none;
  color: rgb(235, 233, 233);
  border: none;
  cursor: pointer;
  margin-inline-end: 10px;
}

.input-area-container input {
  width: 100%;
  margin-inline-start: 5px;
  padding: 5px;
  border: none;
  background: none;
  border-bottom: 1px solid rgb(231, 231, 231);
}

form button {
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 150px;
}

.save-btn {
  margin-inline-start: 20px;
  background-color: #f8cb66;
}

.cancel-btn {
  margin-inline-end: 20px;
}

/* .input-area-container .textarea {
  border: none;
  border-style: none; 
  border-color: Transparent;
  border-bottom: 1px solid rgb(231, 231, 231);
} */