* {
  box-sizing: border-box;
}

.email-preview-container {
  width: 100%;
  min-height: 100px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.email-preview-container .name-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(117, 221, 190);
  font-weight: 700;
  font-size: 1.3rem;
}

.email-preview-container .email-preview-details {
  flex-grow: 1;
  max-width: 70%;
  margin-left: 10px;
}

.email-preview-container h4 {
  margin: 0;
  /* font-weight: bold; */
}

.email-preview-container p {
  margin: 0;
}

.email-preview-container .email-time {
  align-self: flex-start;
}

.bold {
  font-weight: bold;
}

.notBold {
  font-weight: normal;
}
