.note-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.note-img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.note-img h3 {
  margin: 10px;
}
