.note-txt h3 {
  font-family: roboto-bold;
}

.note-txt p {
  margin: 10px;
}

.saveEdits-container {
  height: 20px;
  color: #5c5c5cda;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
