.note-txt h3 {
  font-family: roboto-bold;
  outline: none;
}

.note-txt p {
  margin: 10px;
  outline: none;
}

.saveEdits-container {
  height: 20px;
  justify-content: flex-end;
  margin-inline-end: 10px;
  color: black;
  font-size: 20px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
