@import './fonts.css';

* {
    box-sizing: border-box;
}

html {
    font-family: roboto, serif;
    line-height: 1.714;
}

body {
    margin: 0;
    /* font-size: 0.875rem; */
}


h1, h2, h3, h4, h5, h6 {
    margin: 10px;
    font-weight: 500;
    line-height: 1.4;
}

p {
    margin: 10px;  
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

router-link{
    text-decoration: none;
    color: black;
    
}

a:hover {
    border-bottom: none;
}


