.app-header {
  background-color: #f8cb66;
}

.header-content-container {
  height: 10vh;
}

.header-content-container .nav-link {
  margin: 0;
  margin-inline-start: 20px;
}

.header-content-container h1{
  margin: 0;
}