.user-msg {
  position: fixed;
  top: 90px;
  right: 10px;
  background-color: #212123;
  border-radius: 10px;
  width: 300px;
  padding: 30px 10px;
}
.user-msg p {
  color: white;
  margin-inline-start: 10px;
}

.msg-action {
  text-transform: uppercase;
  font-family: roboto-bold;
  color: orange;
}

.user-msg button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.user-msg .del-btn {
  color: white;
  margin-inline-end: 10px;
}

@media (max-width: 400px) {
  .user-msg {
    width: 250px;
    padding: 20px 10px;
  }
}
