.user-msg {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background-color: #212123;
  border-radius: 10px;
  width: 300px;
}
.user-msg p {
  color: white;
  margin-inline-start: 10px;
}

.success {
  color: orange;
}

.user-msg button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  margin-inline-end: 10px;
}
