.side-menu-container {
  min-width: 200px;
  box-shadow: 4px 5px 8px 0px rgba(117,117,117,0.75);

  /* background-color: rgb(207, 207, 207); */
}

.email-app-container .compose-btn {
  padding: 15px;
  border-radius: 40px;
  margin: 20px 15px 0;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.email-app-container .compose-icon {
  margin-inline-end: 10px;
  margin-inline-start: 5px;
  color: #fcbc02;
  font-size: 1.2rem;
}
