.about{
    margin-block-start: 40px;
}

.about h2{
    font-family: roboto-bold;
    font-size: 35px;
}

.abount-text{
    margin-inline-start: 20px;
}

.about-name{
    font-size: 24px;
}
.about-img{
  width: 300px;
  border-radius: 50%;
}

.about-content-container{
    margin-block-start: 40px;
}