/* FONTS */

@font-face {
    font-family: play;
    src: url(../fonts/playfair/PlayfairDisplay-Medium.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url(../fonts/ubuntu/Ubuntu-Light.ttf);
}

@font-face {
    font-family: inconsolata;
    src: url(../fonts/inconsolata/Inconsolata_Condensed-Regular.ttf);
}

/*-------*/

/* BASICS */

* {
    box-sizing: border-box;
}

html {
    font-family: play, serif;
    color: #626262;
    line-height: 1.714;
}

body {
    margin: 0;
    font-size: 0.875rem;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .833em;
    font-weight: 500;
    line-height: 1.4;
}

h2 {
   font-size: 2.142em;
}

p {
    margin: 0 0 1em;  
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #afafaf;
    border-bottom: 1px solid #afafaf;
}

a:hover {
    border-bottom: none;
}


/* LAYOUT  */

.main-container {
    /* max-width: 740px; */
    /* margin: 0 auto; */
    padding-right: 10px;
    padding-left: 10px;
    /* box-sizing: content-box; */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-container > * {
    margin-bottom: 60px;
}

/* Components */

.main-header {
    height: 150px;
}

.main-header .logo {
    font-family: inconsolata, monospace;
    font-size: 1.875rem;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
}

.main-header .main-nav > *:not(:last-child) {
    margin-inline-end: 100px;
}

.main-header .main-nav a {
    color: inherit;
    text-transform: uppercase;
    border: none;
}

.main-header .main-nav a:hover {
    color: #000;
}

/* Card content */

.card .card-tag {
    margin-bottom: 0.714em;
    color: #b4ad9e;
    text-transform: uppercase;
    font-family: ubuntu, sans-serif;
}

.card p:last-of-type {
    margin-bottom: 0;
}


/* Newsletter */

.newsletter {
    padding: 60px 0 70px;
    text-align: center;
    margin-bottom: 2rem;
}

/* Footer */

.footer-container {
    height :100px;
}


/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.container-bg {
    background-color: #f0f0f0;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* small breakpoint */
@media (min-width: 740px) {
    .main-container {
        max-width: 720px;
        margin: 0 auto;
        box-sizing: content-box;
    }
    .card-container > *:not(:first-child) {
        flex-basis: 50%;
    }
    .card-container > *:nth-child(odd):not(:first-child) {
        padding-inline-start: 15px;
    }
    
    .card-container > *:nth-child(even) {
        padding-inline-end: 15px;
    }
}

/* mobile breakpoint */
@media (max-width: 740px) {
    .main-nav {
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        height: 100vh;
        background-color: rgb(255 255 255 / 90%);
        width: 200px;
        transform: translateX(100%);
        box-shadow: none;
        
        transition: transform .8s, box-shadow .8s;
    }
    
    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -4px 0px 15px 0px #dcdcdc;
    }

    .main-screen {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(0 0 0 / 30%);
        cursor: pointer;

        transition: opacity .8s;
    }

    body.menu-open .main-screen {
        opacity: 1;
        visibility: visible;
    }



    .main-header .main-nav > *:not(:last-child) {
        margin-inline-end: 0;
    }

    .main-nav li {
        border-bottom: 1px solid #ccc;
    }

    .main-header .main-nav a {
        display: block;
        padding: 12px 10px;

        transition: background-color .3s, color .3s;
    }

    .main-header .main-nav a:hover {
        background-color: #848484;
        color: #fff;
    }
}

/* medium breakpoint */
@media (min-width: 880px) {
    .main-container {
        max-width: 860px;
    }
    .card-container > *:first-child > *:not(.card-image) {
        margin-left: 80px;
        margin-right: 80px;
    }

    .card-container > *:nth-child(odd):not(:first-child) {
        padding-inline-start: 20px;
    }
    
    .card-container > *:nth-child(even) {
        padding-inline-end: 20px;
    }

    .menu-btn {
        display: none;
    }
}

/* large breakpoint */
@media (min-width: 1080px) {
    .main-container {
        max-width: 1060px;
    }

    .card-container > * {
        margin-bottom: 120px;
    }

    .card-container > *:nth-child(odd):not(:first-child) {
        padding-inline-start: 30px;
        padding-inline-end: 80px;
    } 
    .card-container > *:nth-child(even) {
        padding-inline-end: 30px;
        padding-inline-start: 80px;
    }
}

